# Variable Name

### Rules

1.Name can't start with a number.

2.There can be no spaces between name.

3.We cant use special symbols like :"',<>|{}()!@#$%^&*~-+

#Special tip: Avoid using keywords like 'list' and 'str'

### Dynamic typing is possible in python.

In [5]:
alpha=12
print(type(alpha))

<class 'int'>

In [6]:
alpha=12.33
print(type(alpha))

<class 'float'>

In [7]:
print(alpha)

12.33

In [9]:
alpha + alpha

24.66

In [10]:
alpha =alpha+alpha

In [11]:
print(alpha)

24.66

In [17]:
deposit_sum=100000

intrest_per_year=6.7

yearly_return=deposit_sum+(deposit_sum/100)*intrest_per_year

In [19]:
print(yearly_return)

# This intrest is fixed deposit in Bank
# Inflation rate in India is 5.5 as in may 2019 source WIKIPEDIA

106700.0