# Strings

1.Strings are sequences of characters, using the syntax of either single or duble quotes.

2.String are ordered sequences it means we can use indexing and slicing.

### Indexing

1.Indexing uses [ ] notation after the string and allows to grab characters from strings.

2.Indexing starts from zero(0) also negative indexing is possible.

### Slicing

1.It allows you to grab subsection of multiple characters, a 'Slice' of the string.

2.It's syntax goes like [ start : stop : step ]

In [2]:
 'Hello'

'Hello'

In [3]:
"World"

'World'

In [4]:
" I'm going to school today"

" I'm going to school today"

In [6]:
print("Hello_World")

Hello_World

In [10]:
print("Hello \nWorld")
#Escape Sequence \n and \t

Hello
World

In [11]:
len('Rover')

5

In [12]:
len(' Rover ')

7

### Indexing

In [13]:
my="Hello World"

In [15]:
print(my)

Hello World

In [16]:
my[0]

'H'

In [18]:
my[4]

'o'

In [21]:
my[7]

'o'

In [20]:
my[-4]

'o'

In [22]:
my[-7]

'o'

### Slicing

In [23]:
my_str='Earth'

In [24]:
print(my_str)

Earth

In [26]:
new=my_str[2:]

In [27]:
print(new)

rth

In [32]:
my_str[:3]

'Ear'

In [35]:
my_str='Hello World'

In [38]:
my_str[2:5]

'llo'

In [41]:
my_str[1:5:3]

'eo'

In [42]:
my_str[::-1]

'dlroW olleH'

## String Properties and Methods

### Immutability

In [43]:
name='Virat'

In [48]:
#name[0]='K' This won't work because string is immutable

In [50]:
new_lst=name[1:]

In [51]:
'k'+new_lst

'kirat'

In [54]:
name + ' is a great batsman'

'Virat is a great batsman'

In [55]:
 letter = 'k'

In [56]:
letter * 5

'kkkkk'

In [71]:
#letter + 43 #We really can't concatinate string and number

In [59]:
'2' + '3'

'23'

### Methods

In [64]:
x='Hello world'

In [69]:
x.split(' ')

['Hello', 'world']

In [66]:
x.upper()

'HELLO WORLD'

In [67]:
x.lower()

'hello world'

### Print formatting with string

1.(.)format Method

  2.f-string Method (formatted string literals)

3.Placeholders

In [75]:
print('I like to {}'.format('Play as well as Read.'))

I like to Play as well as Read.

In [78]:
print('I {0} {2} {1}'.format('live','India','in'))

I live in India

In [82]:
print('Call {y} {x} {z}'.format(x='Rover',y='me',z='!'))

Call me Rover !

Float formatting follows "{value:width.precision f}"

In [83]:
x=67/22

In [85]:
print(x)

3.0454545454545454

In [93]:
print('The result was {k:1.5f}'.format(k=x))

The result was 3.04545

2.f-string method

In [101]:
x='Rover'
y=19

In [102]:
print(f'Hey, {x} here!')

Hey, Rover here!

In [103]:
print(f'{x} is {y} years old!')

Rover is 19 years old!

3.Placeholders

In [106]:
print('There are %d %s'%(7,'Continents'))

There are 7 Continents

In [109]:
print('My result is %f'%7.68)

My result is 7.680000