# List in Python

List are ordered subsequences that can hold a variety of object types.

They use [ ] brackets and elements inside [ ] brackets are seperated by commas.

List can also support indexing as well as slicing also various methods can be call on them.

In [33]:
my_list=[2,5,8]

In [34]:
my_list=[2,'Himanshu',3]

In [35]:
len(my_list)

3

In [36]:
my_list[2]

3

In [37]:
my_list[1:]

['Himanshu', 3]

In [38]:
my_list[:-1]

[2, 'Himanshu']

In [39]:
my_list=[2,4,6]

In [40]:
my_list2=['Thormas','Arthur','Tommy']

In [41]:
#my_list+my_list2
#will this work fine?

In [42]:
my_list

[2, 4, 6]

In [43]:
my_list[1]=8

In [44]:
print(my_list)

[2, 8, 6]

In [45]:
#List is mutable

In [46]:
my_list.append(10)

In [47]:
print(my_list)

[2, 8, 6, 10]

In [48]:
my_list.append('Rover')

In [49]:
print(my_list)

[2, 8, 6, 10, 'Rover']

In [50]:
my_list.pop()

'Rover'

In [51]:
print(my_list)

[2, 8, 6, 10]

In [52]:
k=my_list.pop(1)

In [56]:
print(k)
#we don't really need to use print here but it's a good practice

8

In [57]:
print(my_list)

[2, 6, 10]

In [59]:
my_list[-1]
# Negative indexing is also possible

10

In [60]:
my_char=['x','f,','h','r']
my_num=[6,9,2,5,7,1]

In [64]:
my_char.sort()
my_num.sort()

In [67]:
print(my_char)
print(my_num)

['f,', 'h', 'r', 'x']
[1, 2, 5, 6, 7, 9]

In [69]:
print(my_char.sort())

None

#None is a type of none object

In [71]:
my_num.reverse()

In [72]:
print(my_num)

[9, 7, 6, 5, 2, 1]

# Dictionaries

Dictionaries are unordered mapping for storing objects.

The value is stored in key value pair.

In [76]:
my_dict={'key1':'value1','key2':'value2'}

In [77]:
my_dict['key1']

'value1'

In [81]:
my_store={'gloves':150,'mask':200,'sanatizers':350}

In [82]:
my_store['mask']

200

In [84]:
d ={'k1':5,'k2':[0,1,2],'k3':{'ik1':100}}

In [86]:
d['k2'][1]

1

In [87]:
d['k3']['ik1']

100

In [88]:
d={'k1':20,'k2':45}

In [89]:
d['k3']=65

In [90]:
d

{'k1': 20, 'k2': 45, 'k3': 65}

In [91]:
d['k1']=30

In [92]:
d

{'k1': 30, 'k2': 45, 'k3': 65}

In [93]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [94]:
d.values()

dict_values([30, 45, 65])

In [95]:
d.items()

dict_items([('k1', 30), ('k2', 45), ('k3', 65)])

# Tuples

Tuples are similar to lists and are immutable.

Once element is inside tuple it can't be reassigned, it uses parenthesis (1,2,3)

In [96]:
t=(1,2,3,4)

In [98]:
my_list=[1,2,3,4]

In [99]:
print(type(t))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [100]:
t[0]

1

In [101]:
t[2]

3

In [102]:
t[-1]

4

In [103]:
t=('a','b','c','d','b')

In [104]:
t.count('b')

2

In [105]:
t.index('c')

2

# Sets

Sets are unordered collection of unique elements.

In [108]:
s={1,2,3,4,2,}

In [109]:
print(s)

{1, 2, 3, 4}

In [110]:
my_set = set()

In [111]:
my_set.add(1)

In [112]:
my_set

{1}

In [113]:
my_set.add(2)

In [119]:
my_set

{1, 2}

In [115]:
my_set.add(2)

In [116]:
my_set

{1, 2}

In [120]:
my_set.difference()

{1, 2}

In [121]:
my_set.remove(2)

In [122]:
my_set

{1}

In [123]:
my_set.add(2)

In [124]:
my_set.add(3)

In [125]:
my_set.pop()

1

In [126]:
my_set

{2, 3}

# Booleans

Booleans are operators that allow you to convey True or False statements.

In [127]:
True

True

In [128]:
False

False

In [130]:
print(type(False))

<class 'bool'>

In [131]:
1>2

False

In [132]:
2>1

True

In [133]:
1 == 2

False

In [134]:
b =None