## Collections Module

Counter

In [23]:
from collections import Counter

In [24]:
list=['a','s','l','a','n']
Counter(list)
#number of element in list

Counter({'a': 2, 's': 1, 'l': 1, 'n': 1})

In [25]:
name='himanshu'
Counter(name)

Counter({'h': 2, 'i': 1, 'm': 1, 'a': 1, 'n': 1, 's': 1, 'u': 1})

In [26]:
strs='hey this is rover and i like to play vedio games i like it'
strs=strs.split()
Counter(strs)

Counter({'hey': 1,
         'this': 1,
         'is': 1,
         'rover': 1,
         'and': 1,
         'i': 2,
         'like': 2,
         'to': 1,
         'play': 1,
         'vedio': 1,
         'games': 1,
         'it': 1})

In [27]:
cou=Counter(strs)

In [28]:
cou.most_common(2)

[('i', 2), ('like', 2)]

In [29]:
cou.update('i')

In [30]:
cou

Counter({'hey': 1,
         'this': 1,
         'is': 1,
         'rover': 1,
         'and': 1,
         'i': 3,
         'like': 2,
         'to': 1,
         'play': 1,
         'vedio': 1,
         'games': 1,
         'it': 1})

In [31]:
sum(cou.values())

15

In [32]:
cou.clear()

In [33]:
cou.most_common(5)

[]

defaultdict

In [35]:
from collections import defaultdict

In [38]:
d = {'k1':'Rover'}

In [39]:
d['k1']

'Rover'

In [40]:
#d['not_defined_key'] will generate error.

In [41]:
d = defaultdict(object)

In [42]:
d['one']

In [43]:
for item in d:
    print(item)

one

In [51]:
di=defaultdict(lambda :45)

In [49]:
di['2']=3

In [52]:
di['3']

45

In [53]:
di

defaultdict(<function __main__.<lambda>()>, {'3': 45})

In [62]:
d={}

d['a']='Nitro'
d['b']='Strix'
d['c']='prestige'
d['d']='rog'

In [63]:
d

{'a': 'Nitro', 'b': 'Strix', 'c': 'prestige', 'd': 'rog'}

In [64]:
for key,val in d.items():
    print(key,':',val)

a : Nitro
b : Strix
c : prestige
d : rog

Named Tuple

In [65]:
t=(1,2,3,4)

In [66]:
t[0]

1

In [67]:
from collections import namedtuple

In [68]:
Dog=namedtuple('Dog','age breed name')

In [69]:
liz=Dog(age=2,breed = 'lab',name='Lizzy')

In [71]:
liz

Dog(age=2, breed='lab', name='Lizzy')

In [75]:
liz[2]

'Lizzy'

Datetime

In [76]:
import datetime

In [81]:
t=datetime.time(1,44,1)

In [82]:
print(t)

01:44:01

In [84]:
t.hour

1

In [86]:
t.minute

44

In [92]:
print(datetime.time.min)

00:00:00

In [93]:
print(datetime.time.max)

23:59:59.999999

In [91]:
datetime.date(2,1,12)

datetime.date(2, 1, 12)

In [94]:
td=datetime.date.today()

In [95]:
print(td)

2020-04-10

In [97]:
td.day

10