1.Print number from 4 to 12 using for loop.

#### Hint: 
Syntax : range(start,end,step size)

In [3]:
for i in range(4,13):
  print(i)

4
5
6
7
8
9
10
11
12

2.Print number from 1 to 10 in reverse order.

In [4]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

3.Dynamically assign the data type of variables and print their data type.

In [5]:
k=4+5j
print(type(k))

<class 'complex'>

4.Assign two values to two variables(Dynamically) and then then add them and store them in third variable, also delete the first two variable from memory and print the third variable.

In [6]:
a=5
b=7
c=a+b
del a,b
print(c)

12

5.Concatenate a string and an integer.

In [7]:
a='alpha'
b=5
c=str(b)+a
print(c)

5alpha

6.Convert 111 into octal and hexadecimal number.

In [8]:
k=111
print(oct(k).replace('0o',''))
#Using .replace() is optional we don't exxpect you to use use this function at this stage.
print(hex(k).replace('0x',''))

157
6f

7.Create a list of elements and sort it in ascending and decending order.

In [9]:
l=[4,2,3,1,4,6]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 2, 3, 4, 4, 6]
[6, 4, 4, 3, 2, 1]

8.Perform mathematical operation using at least 3 operation and produce the result 132.

In [10]:
k=10*14-8
print(k)

132

9.'Hello my name is YOURNAME and i am YOURAGE years old.' Print this statement using .format() method. Note: Replace YOURNAME and YOURAGE in srting.

In [11]:
print('Hello my name is {} and i am {} years old'.format('himanshu',19))

Hello my name is himanshu and i am 19 years old

10.Take input from user his PID number and his password and print it.

In [12]:
id=input('Enter your pid number: ')
passa = input('Enter Password: ')
print(id,':',passa)

Enter your pid number: 1182033
Enter Password: !123what
1182033 : !123what

11.Cheack whether the entered year is leap year or not using if elif and else statement.

In [14]:
i=int(input('Enter Year: '))
leap=False
if i%4==0:
  leap=True
  if (i%100==0 and i%400!=0):
    leap=False
if leap==True:
  print('Leap year')
else:
  print('Not a leap year')

Enter Year: 2000
Leap year

12.Print the numbers from 1 to 10 except 6 using while loop.(Use continue and break)

In [16]:
k=0
while True:
  k+=1
  if k==6:
    continue
  print(k)
  if k==10:
    break

1
2
3
4
5
7
8
9
10

13.Using for loop print print each characteristic of string in same line.

In [17]:
for i in 'Hello this is me':
  print(i,end='')

Hello this is me

14.Using string indexing print the 3 rd word of the sentence.

---

Sentence: 'Teach me bro is beneficial for everyone '

In [19]:
k ='Teach me bro is beneficial for everyone'
i=k[9:12]
print(i)

bro

15.Create a function to check whether the number is even or odd.

In [20]:
def even_fun(n):
  if n%2==0:
    print('Even')
  else:
    preint('Odd')

i=int(input('Enter number: '))
even_fun(i)

Enter number: 76
Even

16.Using lambda expression print the square of the list of elements.

In [24]:
l=[2,3,4,1,5,8,6,9]
k=lambda x:x**2
m=list(map(k,l))
print(m)

[4, 9, 16, 1, 25, 64, 36, 81]